<mat-toolbar class="toolbar" style="display: flex;justify-content: space-between;align-items: center;">
    <span routerLink="/select-box" routerLinkActive="active-link">Select Box</span>
    <span routerLink="/date-picker" routerLinkActive="active-link">Date Picker</span>
    <span routerLink="/light-box" routerLinkActive="active-link">Light Box</span>
    <span routerLink="/text-editor" routerLinkActive="active-link">Text Editor</span>
    <span routerLink="/input-fields" routerLinkActive="active-link">Input Fields</span>
    <span routerLink="/all-in-one-table" routerLinkActive="active-link">All In One Table</span>
    <span routerLink="/tool-tip" routerLinkActive="active-link">Tooltip</span>
    <!-- <span routerLink="/text-date" routerLinkActive="active-link">Text Date Input</span> -->
</mat-toolbar>

<fancy-box-stable></fancy-box-stable>
<router-outlet></router-outlet>