.toolbar {
  background-color: #f7accf;
  background-image: linear-gradient(147deg, #f7accf 0%, #ff1053 74%);
  color: white;
  font-weight: 800;
  text-shadow: #7f5a83;
}

span:hover {
  color: blue;
  text-decoration: underline blue;
}

.active-link {
  color: blue;
  text-decoration: underline blue;
}
