<div class="" style="margin-left: 50px;margin-top: 50px;">



    <datepicker-stable seperator="/" placeholder="DD-MM-YYYY" [typeable]="true"
        [form_control]="createForm?.get('simple')" [required]="true" label="From Date"
        labelPosition="float"></datepicker-stable>


</div>
<div class="" style="margin-left: 50px;margin-top: 50px;">
    <h2>From Date </h2>
    <datepicker-stable [typeable]="false" [form_control]="createForm?.get('fromDate')" [first]="true" [required]="true"
        label="From Date" label2="To date" labelPosition="float"></datepicker-stable>
</div>


<div class="" style="margin-left: 50px;margin-top: 50px;">
    <h2>To Date</h2>
    <datepicker-stable [typeable]="false" [first]="false" [form_control]="createForm?.get('toDate')" [required]="true"
        label="To Date" label2="From Date" labelPosition="float"></datepicker-stable>
</div>

















